<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Team</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap" rel="stylesheet"> -->
</head>
<body>
  <div class="team-section">
    <h1 class="section-head">Meet Our Team</h1>
    <p class="section-subhead">Hybrid Infrastructure Cloud Technology</p>

    <div class="team-grid center-head">
      <div class="team-card">
        <img class="team-img" src="https://media.licdn.com/dms/image/v2/D5603AQGzR-o6B2Wdiw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1709878088363?e=1750896000&v=beta&t=VApH62uRBCeyB4-4Rk6BgEeYXz8u7bHyzaYkabIDdIg" alt="Head">
        <h3>Yoga Chaniago</h3>
        <p>Cloud Section Head</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/yoga-chaniago-13541710a/"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/linkedin.svg" alt="LinkedIn" width="20" /></a>
          <a href="https://wa.me/6281214715525"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/whatsapp.svg" alt="WhatsApp" width="20" /></a>
        </div>
      </div>
    </div>

    <div class="team-grid">
      <div class="team-card">
        <img class="team-img" src="https://media.licdn.com/dms/image/v2/D5603AQF9CFGP9Xyr-Q/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1729481927071?e=1750896000&v=beta&t=P2KcJAy_y_HdztGPt0Y89lpHitbimER191hubQXqy6U" alt="Head">
        <h3>Siti Munawaroh</h3>
        <p>Cloud Billing Administrator</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/siti-munawaroh-b8a7a6164/"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/linkedin.svg" alt="LinkedIn" width="20" /></a>
          <a href="https://wa.me/6283806736001"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/whatsapp.svg" alt="WhatsApp" width="20" /></a>
        </div>
      </div>
      <div class="team-card">
        <img class="team-img" src="https://media.licdn.com/dms/image/v2/D5603AQFgsrbw1FM-qQ/profile-displayphoto-shrink_400_400/B56ZYOIQyTHQAg-/0/1743993770202?e=1750896000&v=beta&t=0gRhCDss3Je6FSCoU_zTjJTw8hW06LY4ao9Vzxuqmys" alt="Head">
        <h3>Deni Teguh</h3>
        <p>Cloud Presales</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/deni-teguh-triyanto-217842153/"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/linkedin.svg" alt="LinkedIn" width="20" /></a>
          <a href="https://wa.me/6285726278542"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/whatsapp.svg" alt="WhatsApp" width="20" /></a>
        </div>
      </div>
      <div class="team-card">
        <img class="team-img" src="https://media.licdn.com/dms/image/v2/D5603AQE2bSJLtqW9FA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1707888714039?e=1750896000&v=beta&t=OTtOh94jncHLTU8z-c-kweR5scWHiR3UHrVEXZSiWp4" alt="Head">
        <h3>Andi Muhammad Ichsan</h3>
        <p>Cloud Engineer</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/andi-ichsan/"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/linkedin.svg" alt="LinkedIn" width="20" /></a>
          <a href="https://wa.me/6281231620512"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/whatsapp.svg" alt="WhatsApp" width="20" /></a>
        </div>
      </div>
      <div class="team-card">
        <img class="team-img" src="https://media.licdn.com/dms/image/v2/D5603AQEWGO3vU2TF7Q/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1718883290058?e=1750896000&v=beta&t=J67HnSBsYWhXBUDJo-2d-B_Ds4nDpJ5aIbnbaQ4uOt0" alt="Head">
        <h3>Wilbert Josef Tanumihardja</h3>
        <p>Cloud Engineer</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/wilbert-tanumihardja/"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/linkedin.svg" alt="LinkedIn" width="20" /></a>
          <a href="https://wa.me/6289685549546"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/whatsapp.svg" alt="WhatsApp" width="20" /></a>
        </div>
      </div>
      <div class="team-card">
        <img class="team-img" src="https://media.licdn.com/dms/image/v2/D5603AQFGZa6E-LRRDg/profile-displayphoto-shrink_400_400/B56ZWU_GcfHEAg-/0/1741961325472?e=1750896000&v=beta&t=zJNl0tYZJ1uFF4vAlSnM2ExS5cMKRIy6qHjIF5xEZPA" alt="Head">
        <h3>Lucky Setiawan</h3>
        <p>Cloud Engineer</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/lucky-setiawan/"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/linkedin.svg" alt="LinkedIn" width="20" /></a>
          <a href="https://wa.me/6281413504948"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/whatsapp.svg" alt="WhatsApp" width="20" /></a>
        </div>
      </div>
      <div class="team-card">
        <img class="team-img" src="https://media.licdn.com/dms/image/v2/D5603AQF6CNZMcLaCgA/profile-displayphoto-shrink_400_400/B56ZYzi5W2GcAk-/0/1744621508442?e=1751500800&v=beta&t=6zTBieGAdO4xtb-ca0jafQv2AxamP9q4coIeEjaOCNk" alt="Head">
        <h3>Christian Kasih Pratama</h3>
        <p>Cloud Engineer</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/christian-kasih-pratama-setiawan-47074729a/"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/linkedin.svg" alt="LinkedIn" width="20" /></a>
          <a href="https://wa.me/6281808037817"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/whatsapp.svg" alt="WhatsApp" width="20" /></a>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>